.navbar {
    background: pink;
    display: inline;
}
/* .tag {
    text-align: left;
    display: inline;
} */

.container{
    position: relative;
    width:600px;
  }
  img{
    width: 100%;
  }
  .container p{
    position: absolute;
    padding: 10px;
    margin:0;
  }
  .container .tag{
    top: 5px;
    left: 5px;
    width: 80px;
    text-align: center;
    background-color: skyblue;
    font-weight: bold;
    color: #fff;
  }
  .container .date {
    background-color: #fff;
    right: 5px;
    bottom: 15px;
  }